.board-container {
  padding-left: 10px;
  padding-right: 10px;
}

.board-body {
  padding: 20px;
}

.board-add-body {
  padding: 20px 0;
  text-align: center;
}

.icon-button {
  margin-bottom: 10px;
}

.board-modal-title h2 {
  font-size: 1.7em;
  color: #444;
  text-align: center;
  font-weight: 600;
}

.board-modal-close-btn {
  flex: auto;
  position: absolute;
  top: 0;
  right: 0;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  padding: 0;
  font-size: 2.5em;
  line-height: 1.2;
  cursor: pointer;
}

.board-modal-content {
  text-align: center;
}

.board-control-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
}

.board-form-control {
  width: 100%;
  max-width: 300px;
}

.board-form-control-margin {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
}

.invalid-feedback {
  font-size: 14px;
  color: #ff0000;
  text-align: left;
}

.is-invalid fieldset {
  border-color: #ff0000;
}

.process_btn {
  position: absolute;
}

.small-icon-button-container {
  width: 20px;
  height: 20px;
  min-height: 16px;
}

.small-text {
  display: inline-block;
  padding-left: 0.5rem;
  font-size: 0.75rem;
}

.board-actions {  
  border-top: 1px solid #f1f1f1;
}

.clipboard-text {
  display: none;
}

.board-title {
  padding: 20px 30px 0px;
}

.board-setting-button {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
  right: 30px;
  float: right;
  top: 10px;
  position: absolute;
}

/* Board Column */
.board-column-panel {
  margin-bottom: 10px;
}

.board-column-header {
  margin-bottom: 10px;
}

.board-column-color {
  display: inline-block;
  width: 13px;
  height: 13px;
  vertical-align: top;
  border-radius: 3px;
  margin-top: 3px;
  margin-right: 3px;
}

.board-column-add {
  background: #ddd;
  border: 0;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  padding: 5px;
}

.board-column-add:hover {
  color: #555;
  background: #ccc;
}

.small-trans-button {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
}

.small-trans-icon {
  font-size: 1rem;
}

/* Board Item */
.board-item-panel {
  padding-bottom: 4px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}

.board-item-panel {
  padding-bottom: 4px;
  color: white;
  padding: 5px,
}

.board-item-title {
  border: none;
  resize: none;
}

.board-item-actions {
  padding: 5px;
  background: #fff;
}

.item-control-button {
  font-size: 0.65rem;
  line-height: 0.75rem;
  max-width: 100px;
  width: 40px;
  min-width: 40px;
  cursor: pointer;
  color: #fff;
}

.small-trans-right-button {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
  right: 0px;
  float: right;
  position: absolute;
}

.small-trans-right-wapper {
  right: 0px;
  float: right;
  position: absolute;
}

.board-item-status {
  padding: 5px;
}

.board-small-input input {
  font-size: 14px;
  padding: 7px;
  color: white;
  background: rgba(0, 0, 0, 0.67);
}
.small-trans-right-red-button {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
  right: 0px;
  float: right;
  position: absolute;
  color: red;
}

/* Board Siderbar */
.board-siderbar-panel {
  width: 300px;
  padding: 10px;
}

.board-siderbar-action {
  height: 30px;
}

.board-siderbar-checks {
  padding: 10px 30px;
  border: 1px solid #333;
  margin-bottom: 10px;
}

.board-direction-row {
  flex-direction: row;
}

.small-trans-button-tm {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
  margin-top: 2px;
  margin-left: 5px;
}

.small-trans-func-button {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
  margin-top: 2px;
  margin-left: 5px;
  margin-bottom: 15px;
  margin-right: 10px;
}

.board-button-action {
  flex-direction: row;
  cursor: pointer;
}

.small-trans-right-button-rm {
  background: transparent;
  border: none;
  box-shadow: none;
  min-height: 21px;
  width: 21px;
  height: 21px;
  right: 10px;
  float: right;
  position: absolute;
}

.board-title-button {
  font-size: 0.65rem;
  line-height: 0.75rem;
  min-width: 40px;
  cursor: pointer;
  color: #fff;
  margin: 6px 2px;
}